<configuration>
  <local.local>
    <url>https://localhost/</url>
    <authentication>oauth2</authentication>
    <restUrl>https://localhost/work/api/v2/</restUrl>
    <pingUrl>https://localhost</pingUrl>
    <databases>local</databases>
    <user_id></user_id>
    <user_email></user_email>
  </local.local>
  <recent>
    <server>local.local</server>
  </recent>
</configuration>